//// xs, sm, md, lg, xl
@import "./util/scss/breakpoints.scss";
body {
  @include clean-slate;
}

.main {

}

@include media-breakpoint-down(lg) {
  .main {
    background-color: green;
  }
}
@include media-breakpoint-down(md) {
  .main {
    background-color: $cyan;
  }

}

@include media-breakpoint-down(sm) {
  .main {
    background-color: $danger;
  }

}

@include media-breakpoint-down(xs) {
  .main {
    background-color: $dark;
  }

}